@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: rgb(17,24,39);
  --second-color:  hsl(0, 0%, 83%);
  --third-color: rgb(0, 0, 0);
  --forth-color: blue;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }

}

*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 22px;
  background: var(--first-color);

}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: var(--second-color);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: red;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--second-color);
  color: var(--first-color);
}

h1,h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.unselectable {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--second-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}


.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  background-color: var(--second-color);
  color: var(--second-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    transition: .5s;
  }
}

.nav-item {
  margin-bottom: var(--mb-4);
}

.nav-item:hover {

  animation: headShake;
  animation-duration: 3s;
}


.nav-link {
  position: relative;
  color: var(--third-color);

}

.nav-link:hover {
  position: relative;
  color:var(--forth-color);
}

.nav-link:hover::after {
  left: 0;
  top: 2rem;
  background-color: var(--third-color);

}

.logo:hover {
  cursor: grab;
  margin: 0 0.5rem;
  animation: hinge;
  animation-duration: 10s;
}
.letter {
  color: var(--third-color);
  font-size: 20px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  text-shadow: 2px 2px 4px var(--first-color);
  transform: rotate(-15deg);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;

}

.nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}

.show {
  right: 0;
}

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}


.home-title {
  font-size: var(--big-font-size);
  color: var(--third-color);
}

.home-title:hover {

  animation: pulse;
  animation-duration: 3s;
  cursor: pointer;
}


.home-title-color {
  color: var(--first-color);
}

.home-social {
  display: flex;
  flex-direction: column;
}

.home-social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--first-color);
}

.home-social-icon:hover {
  color: var(--third-color);
}

#home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home-blob {
  fill: var(--first-color);
}

.home-blob-img {
  width: 360px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--second-color);
  padding: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  animation: swing;
  animation-duration: 2s;
}


.typing-text {
  display:inline;
  font-size: 24px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--first-color);
  width: 15ch;
  color: var(--first-color);
  animation: typing 1s steps(15), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.about-container {
  row-gap: 2rem;
  text-align: center;
}

.about-subtitle {
  margin-bottom: var(--mb-2);
}

.about-img {
  justify-self: center;
}

.about-img img {
  width: 200px;
  border-radius: .5rem;
}

.skills-container {
  row-gap: 2rem;
  text-align: center;
}

.skills-subtitle {
  margin-bottom: var(--mb-2);
}

.skills-text {
  margin-bottom: var(--mb-4);
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .9rem;
  box-shadow: 0px 7px 25px rgba(14, 36, 49, 0.15);
}

.skills-icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills-names {
  display: flex;
  align-items: center;
}

.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--third-color);
  height: .50rem;
  border-radius: 1.90rem;
  z-index: var(--z-back);
}

.skills-Game {
  width: 95%;
  animation: game 3s;
}

.skills-html {
  width: 89%;
  animation: html 3s;
}

.skills-css {
  width: 85%;
  animation: css 3s;
}
.skills-python {
  width: 70%;
  animation: python 3s;
}
.skills-js {
  width: 65%;
  animation: js 3s;
}



@keyframes game {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}
@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 89%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

.skills-img {
  border-radius: .5rem;
}

.work-container {
  row-gap: 2rem;
}

.work-img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work-img :hover {
  display: inline-block;
  animation: tada;
  animation-duration: 3s;
}

.work-img img {
  transition: 1s;
}

.work-img img:hover {
  transform: scale(1.1);
}

.contact-input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid rgb(17,24,39);;
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact-button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

.footer {
  background-color: var(--second-color);
  color: var(--first-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  cursor: grab;
}

.footer-title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer-social {
  margin-bottom: var(--mb-4);
}

.footer-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin: 0 var(--mb-2);
}

.footer-icon:hover {
  animation: tada;
  animation-duration: 3s;
  color: var(--third-color);
}

.footer-copy {
  font-size: var(--smaller-font-size);
}



@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }

  #home-img {
    width: 1000px;
  }

  .static-txt {
    margin-top: 20px;
  }

  .dynamic-txts li span::after {

    background: #ffffff;
    margin-top: 20px;
    border-left: 2px solid #ffffff;

  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }

  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home-social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home-social-icon:hover {
    animation: tada;
    animation-duration: 3s;
  }

  #home-img {
    width: 100px;
    bottom: 25%;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .skills-container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }

  .work-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }

  .contact-form {
    width: 360px;
    padding-top: 2rem;
  }

  .contact-container {
    justify-items: center;

  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-list {
    display: flex;
    padding-top: 0;
  }

  .nav-item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav-toggle {
    display: none;
  }


  .home {
    padding: 8rem 0 2rem;
  }

  #home-img {
    width: 400px;
    bottom: 10%;
  }

  .about-container {
    padding-top: 2rem;
  }

  .about-img img {
    width: 300px;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .work-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    padding: 10rem 0 2rem;
  }

  #home-img {
    width: 450px;
  }

}

.container {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: var(--second-color);
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Added overflow property for smooth transition */
}

.card:hover {
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card .img {
  height: 200px;
  width: 100%;
}

.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.card .top-text {
  padding: 5px;
}

.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: var(--first-color);
}

.card .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: var(--first-color);
  line-height: 20px;
}

.card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: var(--second-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s; /* Reduced transition time for smoother effect */
  transform: translateY(20px); /* Added initial translation */
}

.card:hover .bottom-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Apply translation on hover */
}

.card .bottom-text .text {
  text-align: justify;
}

.card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}

.card .bottom-text .btn a {
  text-decoration: none;
  background:var(--first-color);
  color: var(--second-color);
  padding: 5px 8px;
  border-radius: 30px;
  display: inline-flex;
  transition: 0.2s;
}

.card .bottom-text .btn a:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 978px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card {
    max-width: 700px;
    margin: 20px 0;
  }
}

.light-label:hover{
  animation: headShake;
  animation-duration: 3s;

}
/* developer button */
.dev {
    position: relative;
    border-radius: 50%;
}

.dev:hover {

  animation: headShake;
  animation-duration: 3s;
}
.dev:hover~ .hover-text {
  opacity: 0.1;
  animation: headShake;
  animation-duration: 3s;
}
.hover-text{
  display: inline;
  background-color: var(--first-color);
  color: var(--second-color);
  padding: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  margin-left: -4%;
  opacity: 0;
}
