/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fbff00;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px ;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: rgb(0, 0, 0);
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
nav .navbar .logo a:hover {
  color: rgb(0, 0, 0);
}

nav.sticky .navbar .logo a {
  color: rgb(255, 255, 255);
}
nav.sticky .navbar .logo a:hover {
  color: rgb(255, 0, 0);
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: rgb(0, 0, 0);
}

nav.sticky .menu a {
  color: rgb(255, 255, 255);
}

nav.sticky .menu a:hover {
  color: #ff0000;
}

.navbar .media-icons a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 0 6px;
}
.navbar .media-icons a:hover {
  color: #000000;
}

nav.sticky .media-icons a {
  color: rgb(255, 255, 255);
}
nav.sticky .media-icons a:hover {
  color: rgb(255, 0, 0);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: rgb(255, 255, 255);
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: rgb(255, 255, 255);
}

/* home section styling */
/* .home {
  height: 100vh;
  width: 100%;
  background: url("Images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
} */

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-two {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-two:hover {
  color: #000000;
}

.home .text-three {
  overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    color: rgb(255, 255, 255);
    animation: typings 5s forwards infinite;
    
}
.home .text-three:hover {
  color: rgb(0, 0, 0);
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}

.home .button {
  margin: 14px 0;
}
.fish{
  
  padding: 100px;
}
.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: rgb(0, 0, 0);
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.home a {
  color: #fff;
}

.home a:hover {
  color: rgb(0, 0, 0);
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #0E2431;
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.about a {
  color: rgb(255, 255, 255);
}

.about a:hover {
  color: rgb(0, 0, 0);
}

/* My Skills CSS */
.skills {
  background: #F0F8FF;
}

.skills .content {
  padding: 40px 0;
}

.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text {
  width: 50%;
}

.skills-details p {
  color: #000000;
  text-align: justify;
}

.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .num {
  color: #0E2431;
  font-size: 80px;
}

.skills-details .experience .exp {
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .topic {
  font-size: 20px;
  color: rgb(12, 12, 12);
  text-shadow: #ffe7e7;
  font-family: cursive;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: rgb(30, 128, 0);
}

/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: rgb(0, 0, 0);
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* Contact Me CSS */
.contact {
  background: #F0F8FF;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

.contact a {
  color: rgb(255, 255, 255);
}

.contact a:hover {
  color: rgb(0, 0, 0);
}

/* Footer CSS */
footer {
  background: rgb(0, 0, 0);
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

footer .text span a {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: rgb(0, 0, 0);
  padding: 7px 12px;
  ;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: rgb(0, 0, 0);
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: rgb(0, 0, 0);
  }
}
@keyframes typings {
  from { width: 0 }
  to { width: 48.5% }
}
#fb-root{
  padding-left: 20px;
}
.bubbles{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -0px;
}
.bubbles img {
  width: 50px;
  animation: bubbles 7s linear infinite;
}
@keyframes bubbles {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    
    opacity: 1;
  }
  70%{
    
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
  
}
@keyframes fish {
  0%{
    transform: translatex(0);
    opacity: 0;
  }
  50%{
    
    opacity: 1;
  }
  70%{
    
    opacity: 1;
  }
  100%{
    transform: translatex(-80vh);
    opacity: 0;
  }
  
}
.fish img{
  width: 100%;
  animation: fish 9s linear infinite;

}
.fish{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -0px;
  
}
.fish img:nth-child(1){
  width: 60px;
  animation-delay: 1.5s;
}
.fish img:nth-child(2){
  width: 80px;
  animation-delay: 1s;
}
.fish img:nth-child(3){
  width: 90px;
  animation-delay: 2.5s;
}
.fish img:nth-child(4){
  width: 50px;
  animation-delay: 0.5s;
}
.fish img:nth-child(5){
  width: 50px;
  animation-delay: 0.5s;
}
.fish img:nth-child(6){
  width: 50px;
  animation-delay: 0.5s;
}
.fish img:nth-child(7){
  width: 50px;
  animation-delay: 0.5s;
}


.bubbles img:nth-child(1){
  width: 60px;
  animation-delay: 2s;
}
.bubbles img:nth-child(2){
  width: 40px;
  animation-delay: 1s;
}
.bubbles img:nth-child(3){
  width: 55px;
  animation-delay: 3s;
}
.bubbles img:nth-child(4){
  width: 35px;
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
  width: 30px;
  animation-delay: 6s;
  
}
.bubbles img:nth-child(6){
  width: 20px;
  animation-delay: 7s;
}
.bubbles img:nth-child(7){
  width: 45px;
  animation-delay: 3.5s;
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: rgb(255, 0, 0);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 2px solid #ffffff;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
.fishes img{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -0px;
}
.fish1 {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -0px;
}
.fish2 {
  width: 10%;
  position: absolute;
  bottom: -0px;
  right: 0px;
}
.fish3 {
  width: 10%;
  position: absolute;
  bottom: -0px;
  right: 500px;
}
